.ps_r {
  position: relative;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
}

.ps_a {
  position: absolute;
}

.ps_r {
  position: relative;
}

.d_flex {
  display: flex;
}

.justify_end {
  justify-content: end;
}

.align_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_transform_upper {
  text-transform: uppercase;
}

.transition_class {
  transition: all 0.5s linear;
}

.gap-1 {
  gap: 1rem;
}

.sect_space {
  padding: 1rem 0;
}

.bg_transparent {
  background-color: transparent;
}

.gb_light_gray {
  background-color: #eaeaea;
}

.list_style_none {
  list-style: none;
}

.border_none {
  border: 0;
}

.custom_a {
  display: inline-block;
  text-decoration: none;
}

.site_logo {
  height: calc(1.5rem + 2vw);
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav_right {
  gap: 1rem;
}

.users_info {
  display: inline-block;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  gap: 1rem;
  justify-content: space-between !important;
  background-color: transparent;
}
.users_info i {
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
.users_info .user_info-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: calc(100% + 0.65rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}
.users_info .user_info_dropdown {
  padding: 0.5rem 0;
}
.users_info .user_info_dropdown li {
  padding: 0.5rem 1rem;
}

.user_info_dropdown {
  top: 100%;
  right: 0;
  min-width: 10rem;
  background-color: #cccccc;
  z-index: -1;
  transform: translateY(-100%);
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.nav_right .dropdown {
  outline: 1px solid #eaeaea;
  border-radius: 0.5rem;
}

.user_details {
  padding: 0.7rem 0.75rem;
  transition: all 0.3s linear;
}
.user_details button {
  border: 1px solid gray;
}
.user_details .dropdown-menu {
  display: block !important;
  z-index: -1;
  transform: translate3d(12px, 16px, 0px) !important;
  opacity: 0;
}
.user_details .dropdown-menu.show {
  opacity: 1;
  z-index: 1;
  transition: all 0.3s linear;
  transform: translate3d(12px, 59px, 0px) !important;
}

.search_sect input {
  padding: 0.5rem 2.5rem 0.5rem 1.5rem;
  display: inline-block;
  border-radius: 2rem;
  border: 1px solid #999999;
}
.search_sect i {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  z-index: 1;
  color: gray;
}

.hamburger {
  padding: 1rem 0;
}
.hamburger i {
  color: #000000;
  font-size: 1.5rem;
}

.nav_dropdown-sect {
  display: flex;
  justify-content: end;
}

.nav_dropdown {
  top: 100%;
  right: 0;
  min-width: 10rem;
  background-color: #cccccc;
  transform: translateY(-2rem);
  display: block;
  opacity: 0;
  transition: all 0.2s linear;
  padding: 0.5rem 0;
  z-index: -1;
  pointer-events: none;
}
.nav_dropdown li {
  padding: 0.5rem 1rem;
}
.nav_dropdown li a {
  color: black;
}

.dropdown_togler {
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}
.dropdown_togler li {
  pointer-events: auto;
}

.users_info_togler {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart_strip a {
  color: #000000;
  text-transform: capitalize;
}

.hero_sect img {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.search_section {
  gap: 2rem;
}

.search_panel {
  width: -moz-fit-content;
  width: fit-content;
}

.search_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.6rem;
  line-height: 2.6;
  text-align: center;
  background-color: #eaeaea;
  display: inline-block;
  z-index: 10;
}

.cross_icon {
  position: absolute;
  top: 50%;
  right: -1.5rem;
  transform: translateY(-50%);
  z-index: 1;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
  color: gray;
}

.search_bar {
  width: 0.8rem;
  outline: 1px solid transparent;
  padding: 0.5rem 1rem 0.5rem 1.2rem;
  border: 0;
}

.search_panel.width_toggle {
  margin-right: 2.75rem;
}
.search_panel.width_toggle .search_bar {
  padding: 0.5rem 1rem 0.5rem 3rem !important;
  width: calc(5rem + 30vw) !important;
  outline-color: #eaeaea;
}

.search_panel .cross_icon {
  opacity: 0;
  transform: translate(0, -50%);
}

.search_panel.width_toggle .cross_icon {
  opacity: 1 !important;
  animation: cross_btn-anim 0.3s linear;
  transform: translate(100%, -50%) rotate(180deg);
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 576px) {
  .d_sm_none {
    display: none;
  }
  .site_logo {
    width: calc(1rem + 5vw);
  }
  .search_panel.width_toggle {
    margin-right: 2.75rem;
  }
  .search_panel.width_toggle .search_bar {
    padding: 0.5rem 1rem 0.5rem 3rem !important;
    outline-color: #eaeaea;
  }
}/*# sourceMappingURL=main.css.map */